.body {
  min-height: 3000px;
}
.jumbotron {
  padding-top: 8rem;
  background-color: rgba(3, 1, 1, 0.377);
}
.about {
  padding-top: 8rem;
  background-color: whitesmoke;
}
#album {
  background-color: rgba(3, 1, 1, 0.377);
}

section {
  padding-top: 4rem;
}
